body {
  margin: 0;
  background-color: rgb(88, 184, 152);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

section {
  flex: 1;
  /* border: solid 2pt black; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

.top {
  font-size: 70px;
  color: white;
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  align-items: flex-start;
  background-color: black;
  color: white;
  justify-content: space-evenly;
}

section div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  align-items: center;
  width: 220px;
}

section div p {
  text-align: center;
}

.color1 {
  background-color: rgb(85, 142, 246);
  width: 200px;
  height: 30px;
  padding: 0;
}

.color2 {
  background-color: rgb(237, 131, 38);
  width: 200px;
  height: 30px;
  padding: 0;
}

.color3 {
  background-color: rgb(88, 184, 152);
  width: 200px;
  height: 30px;
  padding: 0;
}

h1 {
  margin: 0;
}

.titles {
  font-size: 24pt;
  padding-top: 7pt;
}

@media (max-width: 992px) { 
  body {
    background-color:cornflowerblue;
  }

  .bottom {
    background-color: white;
    color: black;
    flex-direction: column;
    align-items: center;
  }

  .top span {
    width: 180pt;
    padding: 70px;
    font-size: 50px;
  }

  section div {
    padding: 30px;
  }

}
  
